body{
    color: aqua;
    text-align: left;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 20px;
    background-color: black;
    
}
#cabecera{
    width: 300px;
    font-size: 40px;
    border-radius: 4px;
    border: 1px solid rgb(248, 239, 239);
    background-color: burlywood;
    box-shadow: 2px 4px 2px white;
}
#cabecera #logo{
    width: 20px;
    align-items: middle;

#footer{
    background-color: rgba(0, 238, 255, 0.562);
    text-align: center;
}